<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.company.project.dao.DeviceMapper">
  <resultMap id="BaseResultMap" type="com.company.project.model.Device">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="org_code" jdbcType="VARCHAR" property="orgCode" />
    <result column="device_id" jdbcType="VARCHAR" property="deviceId" />
    <result column="secret_key" jdbcType="VARCHAR" property="secretKey" />
    <result column="key_path" jdbcType="VARCHAR" property="keyPath" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>

  <select id="findByKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    SELECT * FROM test WHERE id=#{secretKey}
  </select>
</mapper>